.head_nav
  .wrap_main.d-none.d-lg-block.d-xl-block
    .header-nav
      ul.item_big
        li.nav-item(class=home ? 'active' : '')
          a.a-img(href='/')
            span Trang chủ
        li.nav-item(class=about ? 'active' : '')
          a.a-img(href='about.html')
            span Giới thiệu
        li.nav-item(class=products ? 'active' : '')
          a.a-img(href='products.html')
            span Sản phẩm
            i.fa.fa-angle-down
          ul.item_small
            li
              a(href='#') Sản phẩm nổi bật 
            li
              a(href='#')
                | Sản phẩm y tế 
                i.fa.fa-angle-right
              ul
                li
                  a(href='#') Dược phẩm
            li
              a(href='#') Phụ kiện y tế 
            li
              a(href='#') Máy chụp Xquang 
        li.nav-item(class=career ? 'active' : '')
          a.a-img(href='career.html')
            span Tuyển Dụng
        li.nav-item(class=news ? 'active' : '')
          a.a-img(href='news.html')
            span Tin tức
        li.nav-item(class=contact ? 'active' : '')
          a.a-img(href='contact.html')
            span Liên hệ